{%block content%}
<div class="ro">
    <ul class="nav nav-tabs">
        <li class="active" role="presentation"><a href="{% url 'home'%}">Home</a></li>
        <li role="presentation"><a href="{% url 'car'%}">Cars</a></li>
        <li role="presentation"><a href="{% url 'Phone'%}">Phone</a></li>
        <li role="presentation"><a href="{% url 'Laptop'%}">laptop</a></li>
        <li role="presentation"><a href="{% url 'Electronic'%}">Electronic</a></li>
        <li role="presentation"><a href="{% url 'Clothes'%}">Clothes</a></li>
        <li role="presentation"><a href="{% url 'Furnishings'%}">Furnishings</a></li>
        <li role="presentation"><a href="{% url 'sports'%}">sports</a></li>
        <li role="presentation"><a href="{% url 'Property'%}">Property</a></li>
        <li role="presentation"><a href="{% url 'books'%}">books</a></li>
        <li role="presentation"><a href="{% url 'Other'%}">Other</a></li>
        <li role="presentation"><a href="{% url 'Jops'%}">Jops</a></li>
        <li role="presentation"><a href="{% url 'Makeup'%}">Makeup</a></li>
    </ul>
</div>
{%endblock content%}